<app-search></app-search>
<app-tagger></app-tagger>
<ul>
  <li *ngFor="let item of foods" class="card" routerLink="/api/foods/{{item.id}}">

    <img class="food-thumbnail" [src]="item.imageUrl" [alt]="item.name">
    <div class="content">

      <div class="name">
        {{item.name}}
      </div>

      <span class="favorite {{item.favorite?'':'not'}}">
        ❤
      </span>

      <div class="stars">
        <ngx-stars [color]="'black'" [readonly]="true" [maxStars]="5" [initialStars]="item.stars"></ngx-stars>
      </div>

      <div class="item-footer">
        <div class="origins">
          <span *ngFor="let origin of item.origins">{{origin}} </span>
        </div>


        <div class="cook-time">
          <span>⏱️</span>
          {{item.cookTime}}
        </div>
      </div>

      <div class="price">
        <span>
          {{item.price | currency: ''}}
        </span>
      </div>


    </div>

  </li>
</ul>
