<app-not-found [visible]="!this.food.id" notFoundMessage="Food Not Found !">
</app-not-found>

<div class="container main" *ngIf="this.food.id">
  <img class="food-thumbnail" [src]="this.food.imageUrl" [alt]="this.food.name">
  <div class="container content">

    <div class="name">
      {{this.food.name}}
    </div>
    <div class="star-heart">
      <div class="stars">
        <ngx-stars [color]="'black'" [readonly]="true" [maxStars]="5" [initialStars]="this.food.stars"></ngx-stars>
      </div>

      <span class="favorite {{this.food.favorite?'':'not'}}">
        ❤
      </span>
    </div>
    <div class="item-footer">
      <div class="origins">
        <span *ngFor="let origin of this.food.origins">{{origin}} </span>
      </div>


      <div class="tagger">
        <span *ngFor="let tag of this.food.tags">{{tag}} </span>
      </div>


      <div class="cook-time">
        Cooked in <span class="fw-bolder"> {{this.food.cookTime}}</span> Min.
      </div>
    </div>

    <div class="price">
      Price:
      <span>{{this.food.price | currency: 'Rs. '}}</span>
    </div>

    <button class="cart btn-danger rounded" (click)="addToCart()">Add to Cart</button>

  </div>

</div>
