<div class="container">
  <header>
    Register
  </header>
  <div class="details">
    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="registerForm">

      <!-- for name -->
      <app-input-container label="Name">
        <div class="inputValue">
          <input type="text" placeholder="Name" formControlName="name" />
        </div>
        <!-- name error validations -->
        <div class="error-list text-danger mt-2" *ngIf="fc['name'].errors && isSubmitted">
          <div *ngIf="fc['name'].errors['required']">Name Should not be Empty</div>
          <div *ngIf="fc['name'].errors['minlength']">Name is too short</div>
        </div>
      </app-input-container>

      <!-- for email -->
      <app-input-container label="Email">
        <div class="inputValue">
          <input type="email" placeholder="Email" formControlName="email" />
        </div>
        <!-- email error validations -->
        <div class="error-list text-danger mt-2" *ngIf="fc['email'].errors && isSubmitted">
          <div *ngIf="fc['email'].errors['required']">Email Should not be Empty</div>
          <div *ngIf="fc['email'].errors['email']">Email is not Correct</div>
        </div>
      </app-input-container>


      <!-- for password -->
      <app-input-container label="Password">
        <div class="inputValue">
          <input type="password" placeholder="Password" formControlName="password" />
        </div>

        <!-- password error validations -->
        <div class="error-list text-danger mt-2" *ngIf="fc['password'].errors && isSubmitted">
          <div *ngIf="fc['password'].errors['required']">Password Should not be Empty</div>
          <div *ngIf="fc['password'].errors['minlength']">Password minimum length should be 6</div>
          <div *ngIf="fc['password'].errors['maxlength']">Password maximum length should be 10</div>
        </div>
      </app-input-container>

      <!-- for confirm password -->
      <app-input-container label="Confirm Password">
        <div class="inputValue">
          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
        </div>

        <!-- password error validations -->
        <div class="error-list text-danger mt-2" *ngIf="fc['confirmPassword'].errors && isSubmitted">
          <div *ngIf="fc['confirmPassword'].errors['required']">Password Should not be Empty</div>
          <div *ngIf="fc['confirmPassword'].errors['notMatch']">Password does not match</div>
        </div>
      </app-input-container>


      <!-- for address -->
      <app-input-container label="Address">
        <div class="inputValue">
          <input type="textarea" placeholder="Address" formControlName="address" />
        </div>
        <!-- address error validations -->
        <div class="error-list text-danger mt-2" *ngIf="fc['address'].errors && isSubmitted">
          <div *ngIf="fc['address'].errors['required']">Address Should not be Empty</div>
          <div *ngIf="fc['address'].errors['minlength']">Address minimum length should be 3</div>
        </div>
      </app-input-container>



      <!-- submit button -->
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
  <div> Already A User? <a [routerLink]="['/login']" [queryParams]="{returnUrl: returnUrl}">Login Here</a></div>
</div>
