<div class="container">
  <img class="food-thumbnail" [src]="this.food[0].imageUrl" [alt]="this.food[0].name">
  <div class="content">

    <div class="name">
      {{this.food[0].name}}
    </div>

    <span class="favorite {{this.food[0].favorite?'':'not'}}">
      ❤
    </span>

    <div class="stars">
      <ngx-stars [color]="'black'" [readonly]="true" [maxStars]="5" [initialStars]="this.food[0].stars"></ngx-stars>
    </div>

    <div class="item-footer">
      <div class="origins">
        <span *ngFor="let origin of this.food[0].origins">{{origin}} </span>
      </div>


      <div class="tagger">
        <span *ngFor="let tag of this.food[0].tags">{{tag}} </span>
      </div>


      <div class="cook-time">
        Cooked in <span class="fw-bolder"> {{this.food[0].cookTime}}</span> Min.
      </div>
    </div>

    <div class="price">
      Price:
      <span>{{this.food[0].price | currency: 'INR'}}</span>
    </div>

    <button class="cart btn-danger rounded">Add to Cart</button>

  </div>

</div>
