<div class="container">
  <header>
    Login
  </header>
  <div class="details">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <!-- for email -->
      <app-input-container label="Email">
        <div class="inputValue">
          <input type="email" placeholder="Email" formControlName="email" autocomplete="on" />
        </div>
        <!-- email error validations -->
        <div class="error-list text-danger mt-2" *ngIf="fc['email'].errors && isSubmitted">
            <div  *ngIf="fc['email'].errors['required']">Email Should not be Empty</div>
            <div *ngIf="fc['email'].errors['email']">Email is not Correct</div>
        </div>
      </app-input-container>


      <!-- for password -->
      <app-input-container label="Password">
        <div class="inputValue">
          <input type="password" placeholder="Password" formControlName="password" autocomplete="on" />
        </div>

        <!-- password error validations -->
        <div class="error-list text-danger mt-2" *ngIf="fc['password'].errors && isSubmitted">
            <div *ngIf="fc['password'].errors['required']">Password Should not be Empty</div>
            <div *ngIf="fc['password'].errors['minlength']">Password minimum length should be 6</div>
            <div *ngIf="fc['password'].errors['maxlength']">Password maximum length should be 10</div>
        </div>
      </app-input-container>


      <!-- submit button -->
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  <div> Not A User? <a [routerLink]="['/register']" [queryParams]="{returnUrl: returnUrl}">Register Here</a></div>

</div>
