@property --transition {
  initial-value: 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.user {
  position: relative;
  transition: --transition;
}
.user-avatar {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.user-avatar-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.54) !important;
  opacity: 0;
  transition: opacity --transition;
}
.icon {
  color: rgba(255, 255, 255, 0.87);
}
.user-avatar:hover {
  transition: --transition;
}
.user-avatar-edit:hover,
.user-avatar:hover + .user-avatar-edit {
  opacity: 1;
}
.user-name {
  font-size: 24px;
}
.user-title {
  color: rgba(0, 0, 0, 0.38);
  font-weight: 500;
  margin-top: 0;
}
.user-input-container {
  box-sizing: border-box;
  width: 100%;
}
.user-name,
.user-title {
  background-image: none !important;
}
.user-name,
.user-title .input[disabled] {
  color: rgba(0, 0, 0, 0.87);
}
@media (max-width: 599px) {
  .user {
    padding-right: 0;
    margin-bottom: 16px;
  }
  .user-avatar {
    width: 120px;
    height: 120px;
    margin-right: 16px;
  }
  .user-avatar-edit {
    top: 36px;
    left: 30px;
  }
  .toolbar-tools > menu {
    padding: 0;
  }
}
@media (max-width: 959px) and (min-width: 600px) {
  .user {
    padding-right: 24px;
  }
  .user-avatar {
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
  }
  .user-avatar-edit {
    top: 76px;
    left: 70px;
  }
  .user-input-container {
    padding-left: 8px;
    width: 200px;
  }
}
@media (min-width: 960px) {
  .user {
    padding-right: 24px;
  }
  .user-avatar {
    width: 260px;
    height: 260px;
  }
  .user-avatar-edit {
    top: 106px;
    left: 100px;
  }
  .user-input-container {
    width: 250px;
    text-overflow: ellipsis;
    padding-left: 24px;
  }
}

/* // Scaffolding */
body {
  background: #f2f2f2;
  padding: 16px;
}
