.container {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
}

.content {
  width: 30rem;
  margin-right: 3rem;
}
.mapp {
  width: 25rem;
  z-index: 0;
  margin-right: 3rem;
}

.summary > div {
  display: flex;
  margin-top: 0.7rem;
}

.summary span {
  font-size: 1.2rem;
}

.summary h3 {
  margin: 0 1rem 0 0;
  flex-basis: 5rem;
}

.buttons-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.buttons {
  margin: 2rem;
  width: 30rem;
}

button {
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .buttons {
    margin: 2rem;
    margin-right: 6rem;
    width: 20rem;
  }
  .mapp {
    width: 22rem;
  }
}
