<header>
  <div class="container">
    <a routerLink="/" class="logo">Bharat Cafe</a>

    <nav>
      <ul>
        <li>
          <a routerLink="/login" *ngIf="!isLogged">login</a>

        </li>
        <li class="menu-container" *ngIf="isLogged">
          <a routerLink="/dashboard">{{user.name}}</a>

          <div class="menu">
          <a routerLink="/profile">profile</a>
          <a routerLink="/orders">orders</a>
          <a (click)="logout()">logout</a>
          </div>

        </li>
        <li>
          <a routerLink="/cart-page">Cart <span *ngIf='cartquantity'>{{cartquantity}}</span></a>

        </li>
      </ul>
    </nav>
  </div>
</header>
