<div class="ng-autocomplete">
  <ng-autocomplete [data]="foods" [searchKeyword]="keyword" placeholder="Enter the Food Name"
    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
    historyIdentifier="foods" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>



