.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.food-thumbnail {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.carttable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 1rem;
}

.carttable .cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid red;
}

.carttable .cart:last-child {
  border-bottom: none;
}

.cart div {
  padding: 1rem;
}

.cart select {
  width: 3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  font-weight: 100;
}
.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.totalprice,
.totalcount {
  font-size: 1.1rem;
  margin: 0.5rem;
}

.totalprice::before {
  content: "Price:";
  color: gray;
}
.totalcount::before {
  content: "Count: ";
  color: gray;
}
